

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 600px;
    text-align: center;
    width: 80%;
    min-height: 350px;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    padding: 20px;
}

.alert {
    background-color: #ffcc00;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-weight: bold;
    display: none;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #666;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="text"]:disabled {
    background-color: #eee;
    color: #999;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #0056b3;
}

.output-group {
    margin-top: 20px;
    text-align: left;
}

.output-group p {
    font-size: 16px;
    color: #333;
}

strong {
    color: #007bff;
}


.outerGrid{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 50px;
    position: relative;
    top: 460px;
    padding: 80px 0px;
}